*{

    display: flex 80vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerMiddle {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.boutonHeader {
    border: solid;
    background-color: black;
    border-radius: 10px;   
}

.Planesection {
    background-image: url(plane.jpeg);
    background-size: cover;
    background-position: top;
}

.Planesection h2 {
    font-size: 50px;
}

