*{
    margin: 0px;
    width: 100%;
    font-family: "Open Sans", sans-serif;    
}

.header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 80px;
    padding-bottom: 20px;;
}

.containers {
    padding-left: 2%;
    padding-right: 2%;
}
.bouton1 {   /* pb background du bouton*/
    border: solid;
    background-color: black;
    color: white;
    border-radius: 10px;
    
}

.bouton2 {   /* pb background du bouton*/
    border: solid;
    background-color: rgb(41, 30, 187);
    color: white;
    border-radius: 10px;
    
}

.presentation {
    display: flex;
    flex-direction: row;
    background-image: url(photo-1532364158125-02d75a0f7fb9.jpeg);
    height: 700px;
    background-position: bottom;
    border-radius: 4%;
}

.processLine {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.processLine::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 20%;
    bottom: 15%;
    left: 30%;
    margin-left: -200px;
}

.first {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
